USE [master]
GO
/****** Object:  Database [PlanPisoV2]    Script Date: 17/08/2017 01:20:42 p.m. ******/
CREATE DATABASE [PlanPisoV2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PlanPisoV2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PlanPisoV2.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PlanPisoV2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\PlanPisoV2_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PlanPisoV2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PlanPisoV2]
GO
/****** Object:  Table [dbo].[AppCatalogo]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AppCatalogo](
	[appCatalogoID] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[tabla] [varchar](100) NOT NULL,
	[campo] [varchar](100) NOT NULL,
	[estaActivo] [bit] NOT NULL,
 CONSTRAINT [PK_AppCatalogo] PRIMARY KEY CLUSTERED 
(
	[appCatalogoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AppCatalogoLista]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AppCatalogoLista](
	[appCatalogoID] [int] NOT NULL,
	[CID] [int] NOT NULL,
	[valor] [varchar](100) NULL,
	[texto] [varchar](100) NULL,
	[visible] [bit] NULL,
 CONSTRAINT [PK_catalogoAppLista] PRIMARY KEY CLUSTERED 
(
	[appCatalogoID] ASC,
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Esquema]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Esquema](
	[esquemaID] [int] IDENTITY(1,1) NOT NULL,
	[diasGracia] [int] NOT NULL,
	[plazo] [int] NULL,
	[financieraID] [int] NULL,
	[nombre] [varchar](50) NULL,
	[descripcion] [varchar](250) NULL,
	[interesMoratorio] [decimal](18, 4) NULL,
	[estatusCID] [bit] NULL,
	[creadoPor] [int] NULL,
	[fechaCreacion] [smalldatetime] NULL,
	[modificadoPor] [int] NULL,
	[fechaModificacion] [smalldatetime] NULL,
 CONSTRAINT [PK_Esquema] PRIMARY KEY CLUSTERED 
(
	[esquemaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EsquemaDetalle]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EsquemaDetalle](
	[esquemaDetalleID] [int] IDENTITY(1,1) NOT NULL,
	[esquemaID] [int] NOT NULL,
	[tasaInteres] [numeric](18, 4) NULL,
	[fechaInicio] [date] NULL,
	[fechaFin] [date] NULL,
	[porcentajePenetracion] [numeric](18, 4) NULL,
	[tipoTiieCID] [int] NULL,
	[tiie] [numeric](18, 4) NULL,
	[estatusCID] [int] NULL,
	[creadoPor] [int] NULL,
	[fechaCreacion] [smalldatetime] NULL,
	[modificadoPor] [int] NULL,
	[fechaModificacion] [smalldatetime] NULL,
 CONSTRAINT [PK_EsquemaDetalle] PRIMARY KEY CLUSTERED 
(
	[esquemaDetalleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Financiera]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Financiera](
	[consecutivo] [int] IDENTITY(1,1) NOT NULL,
	[empresaID] [int] NOT NULL,
	[nombre] [varchar](100) NULL,
	[financieraID] [int] NULL,
	[tipoCID] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoteInteres]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoteInteres](
	[loteID] [bigint] IDENTITY(1,1) NOT NULL,
	[estatusCID] [int] NULL,
	[fechaCreacion] [smalldatetime] NULL,
 CONSTRAINT [PK_Lote] PRIMARY KEY CLUSTERED 
(
	[loteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoteInteresDetalle]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoteInteresDetalle](
	[loteDetalleID] [bigint] IDENTITY(1,1) NOT NULL,
	[loteID] [int] NOT NULL,
	[unidadID] [bigint] NOT NULL,
	[interesCalculado] [decimal](18, 4) NOT NULL,
	[interesUsuario] [decimal](18, 4) NOT NULL,
	[pagoPorReduccion] [decimal](18, 4) NULL,
 CONSTRAINT [PK_LoteDEtalle] PRIMARY KEY CLUSTERED 
(
	[loteDetalleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Movimiento]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movimiento](
	[movimientoID] [bigint] IDENTITY(1,1) NOT NULL,
	[tipoCID] [int] NOT NULL,
	[unidadID] [bigint] NOT NULL,
	[usuarioID] [int] NOT NULL,
	[empresaID] [int] NOT NULL,
	[sucursalID] [int] NOT NULL,
	[financieraID] [int] NOT NULL,
	[esquemaID] [int] NOT NULL,
	[fecha] [smalldatetime] NOT NULL,
	[monto] [decimal](18, 4) NOT NULL,
 CONSTRAINT [PK_Movimiento] PRIMARY KEY CLUSTERED 
(
	[movimientoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sucursal]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sucursal](
	[sucursalID] [int] NOT NULL,
	[empresaID] [int] NOT NULL,
	[catSucNombrecto] [varchar](10) NOT NULL,
	[nombreSucursal] [varchar](150) NOT NULL,
	[nombreBase] [varchar](100) NOT NULL,
	[servidorIP] [varchar](20) NOT NULL,
	[tipo] [varchar](10) NOT NULL,
	[rfc] [varchar](20) NOT NULL,
	[estatusID] [int] NOT NULL,
 CONSTRAINT [PK_Sucursal] PRIMARY KEY CLUSTERED 
(
	[sucursalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tiie]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tiie](
	[tiieID] [bigint] IDENTITY(1,1) NOT NULL,
	[fecha] [smalldatetime] NULL,
	[porcentaje] [numeric](18, 4) NULL,
	[estatusCID] [int] NULL,
	[createBy] [int] NULL,
	[updateBy] [int] NULL,
	[createDate] [smalldatetime] NULL,
	[updateDate] [smalldatetime] NULL,
 CONSTRAINT [PK_Tiie] PRIMARY KEY CLUSTERED 
(
	[tiieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TmpExcelData]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TmpExcelData](
	[numeroSerie] [varchar](25) NULL,
	[valor] [numeric](18, 4) NULL,
	[interes] [numeric](18, 4) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Unidad]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Unidad](
	[unidadID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[vehNumserie] [nvarchar](50) NOT NULL,
	[tipoUnidad] [varchar](6) NOT NULL,
	[colorInterior] [varchar](30) NULL,
	[colorExterior] [varchar](30) NULL,
	[modelo] [varchar](4) NULL,
	[descModelo] [varchar](60) NULL,
	[marca] [varchar](100) NULL,
	[segmento] [varchar](100) NULL,
	[subtipoUnidad] [varchar](100) NULL,
	[uncIdcatalo] [varchar](20) NOT NULL,
	[carLine] [varchar](100) NULL,
	[puertas] [varchar](100) NULL,
	[cilindros] [varchar](100) NULL,
	[uncPotencia] [varchar](15) NULL,
	[combustible] [varchar](100) NULL,
	[capacidad] [varchar](15) NULL,
	[transmision] [varchar](100) NULL,
	[ubicacion] [varchar](100) NULL,
	[tipomotor] [varchar](10) NULL,
	[noMotor] [varchar](25) NULL,
	[procedencia] [varchar](10) NULL,
	[vehNofactplan] [varchar](20) NULL,
	[vehFecremision] [varchar](10) NULL,
	[numPedimento] [varchar](20) NULL,
	[fechaPedimento] [varchar](10) NULL,
	[tipoCompra] [varchar](100) NULL,
	[vehFecrecibo] [varchar](10) NULL,
	[diasInventa] [int] NULL,
	[precioLista] [decimal](18, 5) NULL,
	[valorInventario] [decimal](38, 5) NULL,
	[situacion] [varchar](100) NULL,
	[consCartera] [varchar](50) NULL,
	[idDocto] [varchar](50) NULL,
	[updateBy] [int] NULL,
	[lastUpdate] [smalldatetime] NULL,
	[empresaID] [int] NULL,
	[sucursalID] [int] NULL,
	[esquemaID] [int] NULL,
	[estatusCID] [int] NULL,
	[saldo] [decimal](18, 4) NULL,
	[fechaEfectiva] [date] NULL,
	[fechaCalculo] [date] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UnidadInteres]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnidadInteres](
	[unidadID] [numeric](18, 0) NOT NULL,
	[diasInteres] [int] NOT NULL,
	[diasRestantes] [int] NOT NULL,
	[InteresCortePagado] [decimal](18, 4) NOT NULL,
	[InteresMesActual] [decimal](18, 4) NOT NULL,
	[InteresAcumuladoFinanciera] [decimal](18, 4) NOT NULL,
	[InteresTotal] [decimal](18, 4) NOT NULL,
 CONSTRAINT [PK_UnidadInteres] PRIMARY KEY CLUSTERED 
(
	[unidadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[usuarioID] [bigint] NULL,
	[login] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[nombre] [varchar](50) NULL,
	[paterno] [varchar](50) NULL,
	[materno] [varchar](50) NULL,
	[estatusCID] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[AppCatalogo] ON 

INSERT [dbo].[AppCatalogo] ([appCatalogoID], [nombre], [tabla], [campo], [estaActivo]) VALUES (1, N'Usuario', N'Usuario', N'estatusCID', 1)
INSERT [dbo].[AppCatalogo] ([appCatalogoID], [nombre], [tabla], [campo], [estaActivo]) VALUES (2, N'Unidad', N'Unidad', N'estatusCID', 1)
INSERT [dbo].[AppCatalogo] ([appCatalogoID], [nombre], [tabla], [campo], [estaActivo]) VALUES (3, N'no asignado', N'no asignado', N'estatusCID', 1)
SET IDENTITY_INSERT [dbo].[AppCatalogo] OFF
INSERT [dbo].[AppCatalogoLista] ([appCatalogoID], [CID], [valor], [texto], [visible]) VALUES (1, 1, N'0         ', N'Activo', 1)
INSERT [dbo].[AppCatalogoLista] ([appCatalogoID], [CID], [valor], [texto], [visible]) VALUES (1, 2, N'0         ', N'No Activo', 1)
INSERT [dbo].[AppCatalogoLista] ([appCatalogoID], [CID], [valor], [texto], [visible]) VALUES (2, 1, N'0         ', N'Nuevo', 1)
SET IDENTITY_INSERT [dbo].[Esquema] ON 

INSERT [dbo].[Esquema] ([esquemaID], [diasGracia], [plazo], [financieraID], [nombre], [descripcion], [interesMoratorio], [estatusCID], [creadoPor], [fechaCreacion], [modificadoPor], [fechaModificacion]) VALUES (1, 1, 1, 0, N'pipus', N'net', CAST(1.0000 AS Decimal(18, 4)), 1, 0, CAST(N'2017-07-18 13:19:00' AS SmallDateTime), 0, CAST(N'2017-07-18 16:22:00' AS SmallDateTime))
INSERT [dbo].[Esquema] ([esquemaID], [diasGracia], [plazo], [financieraID], [nombre], [descripcion], [interesMoratorio], [estatusCID], [creadoPor], [fechaCreacion], [modificadoPor], [fechaModificacion]) VALUES (2, 0, 0, 0, N'dos', N'ter', CAST(0.0000 AS Decimal(18, 4)), 1, 0, CAST(N'2017-07-18 13:40:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[Esquema] ([esquemaID], [diasGracia], [plazo], [financieraID], [nombre], [descripcion], [interesMoratorio], [estatusCID], [creadoPor], [fechaCreacion], [modificadoPor], [fechaModificacion]) VALUES (3, 1, 1, 0, N'1', N'1', CAST(1.0000 AS Decimal(18, 4)), 1, 0, CAST(N'2017-07-18 16:22:00' AS SmallDateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Esquema] OFF
SET IDENTITY_INSERT [dbo].[EsquemaDetalle] ON 

INSERT [dbo].[EsquemaDetalle] ([esquemaDetalleID], [esquemaID], [tasaInteres], [fechaInicio], [fechaFin], [porcentajePenetracion], [tipoTiieCID], [tiie], [estatusCID], [creadoPor], [fechaCreacion], [modificadoPor], [fechaModificacion]) VALUES (1, 1, CAST(1.0000 AS Numeric(18, 4)), CAST(N'2017-07-01' AS Date), CAST(N'2017-07-08' AS Date), CAST(1.0000 AS Numeric(18, 4)), 1, CAST(5.0000 AS Numeric(18, 4)), 1, 0, CAST(N'2017-07-18 13:19:00' AS SmallDateTime), 0, CAST(N'2017-07-18 19:39:00' AS SmallDateTime))
INSERT [dbo].[EsquemaDetalle] ([esquemaDetalleID], [esquemaID], [tasaInteres], [fechaInicio], [fechaFin], [porcentajePenetracion], [tipoTiieCID], [tiie], [estatusCID], [creadoPor], [fechaCreacion], [modificadoPor], [fechaModificacion]) VALUES (2, 1, CAST(2.0000 AS Numeric(18, 4)), CAST(N'2017-07-21' AS Date), CAST(N'2017-07-27' AS Date), CAST(1.0000 AS Numeric(18, 4)), 1, CAST(1.0000 AS Numeric(18, 4)), 1, 0, CAST(N'2017-07-18 13:34:00' AS SmallDateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[EsquemaDetalle] OFF
SET IDENTITY_INSERT [dbo].[Financiera] ON 

INSERT [dbo].[Financiera] ([consecutivo], [empresaID], [nombre], [financieraID], [tipoCID]) VALUES (1, 1, N'DAIMLER', 0, 0)
INSERT [dbo].[Financiera] ([consecutivo], [empresaID], [nombre], [financieraID], [tipoCID]) VALUES (2, 1, N'BANAMEX', 59, 0)
INSERT [dbo].[Financiera] ([consecutivo], [empresaID], [nombre], [financieraID], [tipoCID]) VALUES (3, 1, N'CF CREDIT', 7342, 0)
SET IDENTITY_INSERT [dbo].[Financiera] OFF
SET IDENTITY_INSERT [dbo].[LoteInteres] ON 

INSERT [dbo].[LoteInteres] ([loteID], [estatusCID], [fechaCreacion]) VALUES (1, 1, CAST(N'2017-08-08 19:12:00' AS SmallDateTime))
INSERT [dbo].[LoteInteres] ([loteID], [estatusCID], [fechaCreacion]) VALUES (2, 1, CAST(N'2017-08-08 19:17:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[LoteInteres] OFF
SET IDENTITY_INSERT [dbo].[LoteInteresDetalle] ON 

INSERT [dbo].[LoteInteresDetalle] ([loteDetalleID], [loteID], [unidadID], [interesCalculado], [interesUsuario], [pagoPorReduccion]) VALUES (1, 1, 1, CAST(1000.0000 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)))
INSERT [dbo].[LoteInteresDetalle] ([loteDetalleID], [loteID], [unidadID], [interesCalculado], [interesUsuario], [pagoPorReduccion]) VALUES (2, 2, 1, CAST(1000.0000 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)), CAST(0.0000 AS Decimal(18, 4)))
SET IDENTITY_INSERT [dbo].[LoteInteresDetalle] OFF
SET IDENTITY_INSERT [dbo].[Movimiento] ON 

INSERT [dbo].[Movimiento] ([movimientoID], [tipoCID], [unidadID], [usuarioID], [empresaID], [sucursalID], [financieraID], [esquemaID], [fecha], [monto]) VALUES (1, 1, 13, 875, 1, 1, 0, 1, CAST(N'2017-08-08 18:55:00' AS SmallDateTime), CAST(50.0000 AS Decimal(18, 4)))
SET IDENTITY_INSERT [dbo].[Movimiento] OFF
INSERT [dbo].[Sucursal] ([sucursalID], [empresaID], [catSucNombrecto], [nombreSucursal], [nombreBase], [servidorIP], [tipo], [rfc], [estatusID]) VALUES (1, 1, N'abc', N'cuatitalna', N'1', N'1', N'1', N'1', 1)
INSERT [dbo].[Sucursal] ([sucursalID], [empresaID], [catSucNombrecto], [nombreSucursal], [nombreBase], [servidorIP], [tipo], [rfc], [estatusID]) VALUES (2, 1, N'abc', N'pedregal', N'1', N'1', N'1', N'1', 1)
INSERT [dbo].[Sucursal] ([sucursalID], [empresaID], [catSucNombrecto], [nombreSucursal], [nombreBase], [servidorIP], [tipo], [rfc], [estatusID]) VALUES (3, 1, N'abc', N'universidad', N'1', N'1', N'1', N'1', 1)
SET IDENTITY_INSERT [dbo].[Tiie] ON 

INSERT [dbo].[Tiie] ([tiieID], [fecha], [porcentaje], [estatusCID], [createBy], [updateBy], [createDate], [updateDate]) VALUES (1, CAST(N'2017-08-09 00:00:00' AS SmallDateTime), CAST(0.0000 AS Numeric(18, 4)), 1, 0, NULL, CAST(N'2017-08-09 12:25:00' AS SmallDateTime), NULL)
INSERT [dbo].[Tiie] ([tiieID], [fecha], [porcentaje], [estatusCID], [createBy], [updateBy], [createDate], [updateDate]) VALUES (2, CAST(N'2017-09-09 00:00:00' AS SmallDateTime), CAST(0.0000 AS Numeric(18, 4)), 1, 0, NULL, CAST(N'2017-08-09 13:10:00' AS SmallDateTime), NULL)
INSERT [dbo].[Tiie] ([tiieID], [fecha], [porcentaje], [estatusCID], [createBy], [updateBy], [createDate], [updateDate]) VALUES (3, CAST(N'2017-08-17 00:00:00' AS SmallDateTime), CAST(36.0000 AS Numeric(18, 4)), 1, 0, NULL, CAST(N'2017-08-14 11:00:00' AS SmallDateTime), NULL)
SET IDENTITY_INSERT [dbo].[Tiie] OFF
INSERT [dbo].[TmpExcelData] ([numeroSerie], [valor], [interes]) VALUES (N'JS3TE04V4H4102072', CAST(305901.5900 AS Numeric(18, 4)), CAST(10.0000 AS Numeric(18, 4)))
INSERT [dbo].[TmpExcelData] ([numeroSerie], [valor], [interes]) VALUES (N'TSMYD21S4HM282619', CAST(213441.9500 AS Numeric(18, 4)), CAST(20.0000 AS Numeric(18, 4)))
INSERT [dbo].[TmpExcelData] ([numeroSerie], [valor], [interes]) VALUES (N'TSMYD21S6HM278992', CAST(227871.2300 AS Numeric(18, 4)), CAST(30.0000 AS Numeric(18, 4)))
GO
SET IDENTITY_INSERT [dbo].[Unidad] ON 

GO
SET IDENTITY_INSERT [dbo].[Unidad] OFF
INSERT [dbo].[UnidadInteres] ([unidadID], [diasInteres], [diasRestantes], [InteresCortePagado], [InteresMesActual], [InteresAcumuladoFinanciera], [InteresTotal]) VALUES (CAST(1 AS Numeric(18, 0)), 20, 0, CAST(1000.0000 AS Decimal(18, 4)), CAST(1000.0000 AS Decimal(18, 4)), CAST(1000.0000 AS Decimal(18, 4)), CAST(1000.0000 AS Decimal(18, 4)))
INSERT [dbo].[UnidadInteres] ([unidadID], [diasInteres], [diasRestantes], [InteresCortePagado], [InteresMesActual], [InteresAcumuladoFinanciera], [InteresTotal]) VALUES (CAST(2 AS Numeric(18, 0)), 30, 0, CAST(1500.0000 AS Decimal(18, 4)), CAST(1500.0000 AS Decimal(18, 4)), CAST(1500.0000 AS Decimal(18, 4)), CAST(1500.0000 AS Decimal(18, 4)))
INSERT [dbo].[UnidadInteres] ([unidadID], [diasInteres], [diasRestantes], [InteresCortePagado], [InteresMesActual], [InteresAcumuladoFinanciera], [InteresTotal]) VALUES (CAST(3 AS Numeric(18, 0)), 40, 0, CAST(2000.0000 AS Decimal(18, 4)), CAST(2000.0000 AS Decimal(18, 4)), CAST(2000.0000 AS Decimal(18, 4)), CAST(2000.0000 AS Decimal(18, 4)))
GO
ALTER TABLE [dbo].[AppCatalogoLista]  WITH CHECK ADD  CONSTRAINT [FK_AppCatalogoLista_AppCatalogo] FOREIGN KEY([appCatalogoID])
REFERENCES [dbo].[AppCatalogo] ([appCatalogoID])
GO
ALTER TABLE [dbo].[AppCatalogoLista] CHECK CONSTRAINT [FK_AppCatalogoLista_AppCatalogo]
GO
/****** Object:  StoredProcedure [dbo].[uspGetCatalogo]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspGetCatalogo]

@catalogoID as int

AS
BEGIN	

	SELECT 
		lst.appCatalogoID,
		lst.CID,
		lst.valor,
		lst.texto,
		lst.visible,
		cat.nombre,
		cat.tabla,
		cat.campo,
		cat.estaActivo
	FROM 
	AppCatalogoLista lst 
	INNER JOIN AppCatalogo cat
	ON lst.appCatalogoID = cat.appCatalogoID
	WHERE lst.appCatalogoID = @catalogoID  and visible = 1	

END
GO
/****** Object:  StoredProcedure [dbo].[uspGetConciliacion]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[uspGetConciliacion] 
@financieraID AS INT
AS
BEGIN

	SELECT * FROM	
	(
		SELECT UI.*,X.*,U.vehNumserie,U.esquemaID ,
				(SELECT financieraID FROM Esquema WHERE  esquemaID = U.esquemaID ) financieraID ,
				(UI.InteresMesActual - X.interes) diferencia,
				CASE 
					 WHEN (UI.InteresMesActual = X.interes)  THEN 1
					 WHEN (UI.InteresMesActual > X.interes)  THEN 2			 
					 ELSE 0 END  esMayor
		FROM UnidadInteres UI  
		INNER JOIN Unidad U
		ON U.unidadID  = UI.unidadID
		RIGHT JOIN TmpExcelData X
		ON numeroSerie = U.vehNumserie
	) AS conciliacion
	WHERE financieraID =@financieraID

END
GO
/****** Object:  StoredProcedure [dbo].[uspGetEmpresa]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[uspGetEmpresa]

AS
BEGIN
	
	/*
	select 
		emp_idempresa as idEmpresa,
		emp_nombrecto as nombreCorto,
		emp_nombre as nombre 
	from [ControlAplicaciones].[dbo].[cat_empresas]
	*/
			
		select 1 empresaID,	'AU' nombreCorto, 'ANDRADE UNIVERSIDAD SA DE CV' nombre
END
GO
/****** Object:  StoredProcedure [dbo].[uspGetEsquema]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspGetEsquema]
@financieraID NUMERIC(18,0),
@esquemaID INT = NULL
AS
BEGIN
		SELECT *, 
			(	
				SELECT	count(esquemaID ) 
				FROM	Unidad 
				WHERE	esquemaID = E.esquemaID 
			) numAsignado
		FROM	Esquema E 
		WHERE	financieraID = @financieraID	
		AND e.estatusCID=1
		AND (@esquemaID IS NULL OR esquemaID =@esquemaID )
END
GO
/****** Object:  StoredProcedure [dbo].[uspGetEsquemaDetalle]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[uspGetEsquemaDetalle]
@esquemaID as int,
@esquemaDetalleID as int = null
AS

BEGIN

	SELECT 
		esquemaDetalleID,
		esquemaID,
		tasaInteres,
		CONVERT(VARCHAR(10),fechaInicio,103)  fechaInicio,
		CONVERT(VARCHAR(10),fechaFin,103) fechaFin,
		porcentajePenetracion,
		tipoTiieCID,
		tiie,
		estatusCID	 ,
		(SELECT texto FROM AppCatalogoLista WHERE appCatalogoID =9 and CID = ed.estatusCID ) estatusTexto,
		(SELECT texto FROM AppCatalogoLista WHERE appCatalogoID =10 and CID = ed.TipotiieCID  ) TipotiieTexto
	 FROM EsquemaDetalle ed 
	 WHERE esquemaID = @esquemaID
	 AND (@esquemaDetalleID IS NULL OR esquemaDetalleID= @esquemaDetalleID)


END
GO
/****** Object:  StoredProcedure [dbo].[uspGetFinanciera]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspGetFinanciera]
AS
BEGIN

	/*OPTIMIZAR*/
	
	select 
			consecutivo,
			empresaID,
			nombre,
			financieraID,
			tipoCID
	from Financiera 
	
		
END
GO
/****** Object:  StoredProcedure [dbo].[uspGetInteresDashBoard]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[uspGetInteresDashBoard]
@empresaID int
as
begin

SELECT 
	empresaID,
	financieraID,
	nombreFinanciera,
	COUNT(empresaID) unidades,
	SUM(InteresCortePagado) InteresCortePagado,
	SUM(InteresMesActual) InteresMesActual,
	SUM(InteresAcumuladoFinanciera) InteresAcumuladoFinanciera,
	SUM(InteresTotal) InteresTotal			
FROM

(
	SELECT 			
		U.empresaID,		
		(SELECT financieraID FROM Esquema WHERE esquemaID = U.esquemaID) financieraID  ,
		(	 SELECT nombre from Financiera WHERE financieraID  = 
				(SELECT financieraID FROM Esquema WHERE esquemaID = U.esquemaID )
		) nombreFinanciera,		
		InteresCortePagado,
		InteresMesActual,
		InteresAcumuladoFinanciera,
		InteresTotal		
	FROM Unidad U 
		INNER JOIN UnidadInteres UI 
		ON U.unidadID  = UI.unidadID
		AND U.estatusCID = 2
		AND  empresaID=@empresaID
) AS Intereses
GROUP BY   
		empresaID,		
		financieraID,
		nombreFinanciera

UNION

	SELECT 			
		U.empresaID,		
		-1 financieraID,
		'Todas las unidades' Nombre,
		COUNT(U.empresaID) unidades,
		SUM(UI.InteresCortePagado) InteresCortePagado,
		SUM(UI.InteresMesActual) InteresMesActual,
		SUM(UI.InteresAcumuladoFinanciera) InteresAcumuladoFinanciera,
		SUM(UI.InteresTotal) InteresTotal			
	FROM Unidad U 
		INNER JOIN UnidadInteres UI 
		ON U.unidadID  = UI.unidadID
		AND U.estatusCID = 2
		AND  empresaID=@empresaID
	GROUP BY   
		U.empresaID			
end
GO
/****** Object:  StoredProcedure [dbo].[uspGetLoteInteres]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[uspGetLoteInteres]
@estatusCID as int 
as


begin
	SELECT 
		loteID,	
		estatusCID,
		(SELECT texto FROM AppCatalogoLista WHERE  appCatalogoID =4 and CID = l.estatusCID) estatusDesc,	
		CONVERT( VARCHAR(20), fechaCreacion,103) fechaCreacion
	FROM LoteInteres l
	WHERE estatusCID = @estatusCID 	
end

GO
/****** Object:  StoredProcedure [dbo].[uspGetLoteInteresDetalle]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[uspGetLoteInteresDetalle]
@loteID as int

as
begin

	SELECT 
		ld.loteDetalleID,
		ld.unidadID,
		ld.interesCalculado,
		ld.interesUsuario,
		ld.pagoPorReduccion,
		(SELECT vehNumserie  FROM Unidad WHERE unidadID =  ld.unidadID ) vehNumserie		
	FROM LoteInteresDetalle ld 
	
end





GO
/****** Object:  StoredProcedure [dbo].[uspGetMovimiento]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE  procedure [dbo].[uspGetMovimiento]
@unidadID as bigint
as
begin
	SELECT 
			movimientoID,
			tipoCID,
			unidadID,
			usuarioID,
			empresaID,
			sucursalID,
			financieraID,
			esquemaID,
			fecha,
			monto
	FROM	Movimiento
	WHERE	@unidadID=unidadID

end



GO
/****** Object:  StoredProcedure [dbo].[uspGetSucursal]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[uspGetSucursal]

@empresaID  NUMERIC(18,0)

AS
BEGIN

	/*optimizar*/ 
	/*crear tabla Propia que se llene mediante job*/
	/*
	select 
		suc_idsucursal as sucursalID,
		emp_idempresa as empresaID,
		catsuc_nombrecto as catSucNombrecto,
		nombre_sucursal as nombreSucursal,
		nombre_base as nombreBase,
		ip_servidor as servidorIP,
		tipo as tipo,
		rfc  as rfc
	from [192.168.20.9].[Centralizacionv2].[dbo].[DIG_CAT_BASES_BPRO] 
	where emp_idempresa = @EmpresaID and estatus=1
	AND TIPO =1*/

	SELECT 
			sucursalID,
			empresaID,
			catSucNombrecto,
			nombreSucursal,
			nombreBase,
			servidorIP,
			tipo,
			rfc
	FROM	sucursal
	WHERE	empresaID = @EmpresaID
	AND		estatusID=1
	AND		TIPO =1
	
	
		 
END










GO
/****** Object:  StoredProcedure [dbo].[uspGetTiie]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[uspGetTiie]



as 

begin

	SELECT 
			tiieID,
			convert(varchar(20),fecha,103) fecha,
			porcentaje
	FROM	Tiie
end


GO
/****** Object:  StoredProcedure [dbo].[uspGetTiieDateExist]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[uspGetTiieDateExist]
@fecha  AS Date
AS
BEGIN
		IF EXISTS (SELECT fecha FROM Tiie WHERE  fecha = @fecha )
		BEGIN
			SELECT  1 result
		END
		ELSE
		BEGIN 
			SELECT  0 result
		END
END





GO
/****** Object:  StoredProcedure [dbo].[uspGetUnidadesDetalle]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[uspGetUnidadesDetalle]
@unidadID as int
as
begin


select 
		U.unidadID,
		U.vehNumserie,
		U.tipoUnidad,
		U.colorInterior,
		U.colorExterior,
		U.modelo,
		U.descModelo,
		U.marca,
		U.segmento,
		U.subtipoUnidad,
		U.uncIdcatalo,
		U.carLine,
		U.puertas,
		U.cilindros,
		U.uncPotencia,
		U.combustible,
		U.capacidad,
		U.transmision,
		U.ubicacion,
		U.tipomotor,
		U.noMotor,
		U.procedencia,
		U.vehNofactplan,
		U.vehFecremision,
		U.numPedimento,
		U.fechaPedimento,
		U.tipoCompra,
		U.vehFecrecibo,
		U.diasInventa,
		U.precioLista,
		U.valorInventario,
		U.situacion,
		U.consCartera,
		U.idDocto,
		U.saldo,
		convert(varchar(20),U.fechaEfectiva,103) fechaEfectiva,
		U.fechaCalculo,
		E.esquemaID,
		E.diasGracia,
		E.plazo,	
		E.nombre,
		E.descripcion,
		E.interesMoratorio,	
		E.creadoPor,
		E.fechaCreacion,
		E.modificadoPor,
		E.fechaModificacion,
		'Fecha' tipoEsquema,
		DATEDIFF (day,GETDATE(),GETDATE()-130) diasInventario,		
		20 diasFinanciamiento,
		20 diasAmpliacion,		
		(select nombre from Financiera where financieraID = E.financieraID ) financiera
	
FROM Unidad U inner join Esquema E
ON U.esquemaID =E.esquemaID
where U.unidadID  =@unidadID 

	

end
GO
/****** Object:  StoredProcedure [dbo].[uspGetUnidadesInteres]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE Procedure [dbo].[uspGetUnidadesInteres]
@empresaID int,
@sucursalID int = null
as
begin



	select 
			U.unidadID,
			U.vehNumserie,
			U.descModelo,
			U.modelo,
			U.precioLista importe,
			U.valorInventario saldo,
			U.empresaID,
			U.sucursalID,
			U.esquemaID,
			UI.diasInteres,
			UI.diasRestantes,
			UI.InteresCortePagado,
			UI.InteresMesActual,
			UI.InteresAcumuladoFinanciera,
			UI.InteresTotal,
			(select financieraID from Esquema where esquemaID = u.esquemaID) financieraID,
			0 pagoReduccion			

	FROM Unidad U 
	INNER JOIN UnidadInteres UI 
	ON U.unidadID  = UI.unidadID
	AND U.estatusCID = 2
	AND  empresaID=@empresaID  
	AND (@sucursalID IS NULL OR sucursalID=@sucursalID ) 


end
GO
/****** Object:  StoredProcedure [dbo].[uspGetUnidadesNuevas]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[uspGetUnidadesNuevas]
@empresaID int,
@sucursalID int = null
as
begin
	SELECT *, convert(varchar(10),fechaCalculo,103) fechaCalculoString, 0 saldoInicial
	FROM	unidad  	
	WHERE	estatusCID=1
	AND		empresaID=@empresaID  
	AND		(@sucursalID IS NULL OR sucursalID=@sucursalID ) 
end
GO
/****** Object:  StoredProcedure [dbo].[uspInsEsquema]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure  [dbo].[uspInsEsquema]
@diasGracia int ,
@plazo int ,
@financieraID int ,
@nombre varchar(50) ,
@descripcion varchar(150) ,
@interesMoratorio int ,
@usuarioID int 

AS 
BEGIN

INSERT INTO Esquema

(
	diasGracia,
	plazo,
	financieraID,
	nombre,
	descripcion,	
	interesMoratorio,
	estatusCID,
	creadoPor,
	fechaCreacion
)

VALUES 
(
	@diasGracia,
	@plazo,
	@financieraID,
	@nombre,
	@descripcion,	
	@interesMoratorio,
	1,
	@usuarioID,
	GETDATE()
)

select @@IDENTITY as result

end
GO
/****** Object:  StoredProcedure [dbo].[uspInsEsquemaDetalle]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure  [dbo].[uspInsEsquemaDetalle]

@esquemaID int ,
@tasaInteres int ,
@fechaInicio varchar(50)  ,
@fechaFin varchar(50),
@porcentajePenetracion int ,
@tipoTiieCID int ,
@tiie int ,
@usuarioID int 

AS 
BEGIN


	set @fechaInicio    = substring(@fechaInicio,7,4) +   substring(@fechaInicio,4,2) + substring(@fechaInicio,1,2) 
	set @fechaFin       = substring(@fechaFin,7,4) +  substring(@fechaFin,4,2) + substring(@fechaFin,1,2)

	INSERT INTO EsquemaDetalle

	(
		esquemaID,
		tasaInteres,
		fechaInicio,
		fechaFin,
		porcentajePenetracion,
		tipoTiieCID,
		tiie,
		estatusCID,
		creadoPor,
		fechaCreacion
	)

	VALUES 
	(
		@esquemaID,
		@tasaInteres,
		@fechaInicio,
		@fechaFin,
		@porcentajePenetracion,
		@tipoTiieCID,
		@tiie,
		1,
		@usuarioID,
		GETDATE()
	)

	select @@IDENTITY as result


end
GO
/****** Object:  StoredProcedure [dbo].[uspInsLoteInteres]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[uspInsLoteInteres]
as
begin 
	
	INSERT INTO loteInteres ( estatusCID ,fechaCreacion) 
	VALUES (1,GETDATE())
	SELECT @@IDENTITY AS result 
	
end
GO
/****** Object:  StoredProcedure [dbo].[uspInsLoteInteresDetalle]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[uspInsLoteInteresDetalle]
@loteID as int,
@unidadID as int,
@interesCalculado as numeric(18,4)
as
begin 
	
	INSERT INTO LoteInteresDetalle 
				(loteID,unidadID,interesCalculado,interesUsuario,pagoPorReduccion) 
	VALUES		(@loteID,@unidadID,@interesCalculado,0,0)

	UPDATE Unidad SET fechaCalculo = GETDATE() WHERE unidadID = @unidadID

	SELECT @@IDENTITY AS result
	
end

GO
/****** Object:  StoredProcedure [dbo].[uspInsMovimiento]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[uspInsMovimiento]

@tipoCID as int,--[dbo].[uspGetCatalogo]  7
@unidadID as int,
@usuarioID as int,
@empresaID as int,
@sucursalID as int,
@financieraID as int,
@esquemaID as int,
@monto as numeric(18, 4)

as
begin


INSERT INTO movimiento

    (
        tipoCID, 
        unidadID,
        usuarioID,
        empresaID,
        sucursalID,
        financieraID,
        esquemaID,
        fecha,
        monto
    )
VALUES
    (
        @tipoCID,
        @unidadID,
        @usuarioID,
        @empresaID,
        @sucursalID,
        @financieraID,
        @esquemaID,
        getdate(),
        @monto
    )
end
GO
/****** Object:  StoredProcedure [dbo].[uspInsTiie]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[uspInsTiie]

@fecha as date,
@porcentaje as numeric(18,4),
@userID as int


as 

begin
	
	select @fecha

	INSERT INTO tiie 
				(fecha, porcentaje,estatusCID,createBy, createDate )
	values		(convert(date,@fecha,103),@porcentaje,1,@userID , GETDATE())

	SELECT @@IDENTITY AS result

end


GO
/****** Object:  StoredProcedure [dbo].[uspSetCambioAgencia]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[uspSetCambioAgencia]
@unidadID as int,
@userID as int,
@empresaID as int,
@sucursalID as int,
@esquemaID as int
AS
BEGIN
		UPDATE Unidad 
		SET
			updateBy        = @userID,
			lastUpdate      = GETDATE(),
			esquemaID       = @esquemaID,
			EstatusCID		= 2,
			fechaCalculo    = getdate(),
			empresaID       = @empresaID,
			sucursalID      = @sucursalID 
		WHERE unidadID=@unidadID 
END
GO
/****** Object:  StoredProcedure [dbo].[uspSetEsquema]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure  [dbo].[uspSetEsquema]
@esquemaID int ,
@diasGracia int ,
@plazo int ,
@financieraID int ,
@nombre varchar(50) ,
@descripcion varchar(150) ,
@interesMoratorio int ,
@usuarioID int 

AS 
BEGIN

UPDATE Esquema
SET
		diasGracia        = @diasGracia,
		plazo             = @plazo,
		financieraID      = @financieraID,
		nombre            = @nombre,
		descripcion       = @descripcion,
		interesMoratorio  = @interesMoratorio,
		estatusCID        = 1,
		modificadoPor     = @usuarioID,
		fechaModificacion = GETDATE()
WHERE	esquemaID =@esquemaID

SELECT @esquemaID AS result

end
GO
/****** Object:  StoredProcedure [dbo].[uspSetEsquemaDetalle]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure  [dbo].[uspSetEsquemaDetalle]

@esquemaDetalleID int,
@tasaInteres numeric(18,4),
@fechaInicio varchar(20),
@fechaFin varchar(20),
@porcentajePenetracion numeric(18,4),
@tipoTiieCID int,
@tiie numeric(18,4),
@usuarioID int

AS 
BEGIN

	set @fechaInicio    = substring(@fechaInicio,7,4) +   substring(@fechaInicio,4,2) + substring(@fechaInicio,1,2) 
	set @fechaFin       = substring(@fechaFin,7,4) +  substring(@fechaFin,4,2) + substring(@fechaFin,1,2)

	UPDATE EsquemaDetalle
	SET				
			tasaInteres           = @tasaInteres,
			fechaInicio           = @fechaInicio,
			fechaFin              = @fechaFin,
			porcentajePenetracion = @porcentajePenetracion,
			tipoTiieCID           = @tipoTiieCID,
			tiie                  = @tiie,		
			modificadoPor         = @usuarioID,
			fechaModificacion     = getdate()	
	WHERE	esquemaDetalleID=@esquemaDetalleID

	select @esquemaDetalleID as result

end
GO
/****** Object:  StoredProcedure [dbo].[uspSetTraspasoFinanciera]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE  [dbo].[uspSetTraspasoFinanciera]
@unidadID as int,
@userID as int,
@esquemaID as int
AS
BEGIN
		UPDATE Unidad 
		SET
			updateBy        = @userID,
			lastUpdate      = GETDATE(),
			esquemaID       = @esquemaID,
			EstatusCID		= 2,
			fechaCalculo    = getdate()
		WHERE unidadID=@unidadID 
END
GO
/****** Object:  StoredProcedure [dbo].[uspSetUnidadSchema]    Script Date: 17/08/2017 01:20:42 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[uspSetUnidadSchema]
@unidadID  as int,
@userID as int,
@esquemaID as int,
@fechaCalculo as date,
@saldoInicial as decimal(18,4)
AS
BEGIN
		UPDATE Unidad 
		SET
				updateBy        = @userID,
				lastUpdate      = GETDATE(),
				esquemaID       = @esquemaID,
				estatusCID      = 2,--[dbo].[uspGetCatalogo] 2
				fechaCalculo    = @fechaCalculo
		WHERE	unidadID = @unidadID 
		
		DECLARE 
		@empresaID		as int = 0,	
		@sucursalID		as int = 0,
		@financieraID	as int = 0

		select @empresaID=empresaID	, @sucursalID =sucursalID  from Unidad where unidadID= @unidadID
		select @financieraID = financieraID from  Esquema where esquemaID = @esquemaID
										
		exec [uspInsMovimiento] 1,@unidadID,@userID,@empresaID,@sucursalID,@financieraID,@esquemaID,@saldoInicial
				
		select @@ROWCOUNT as rowAffected
END
GO
USE [master]
GO
